@model VendasWebMvc.Models.Vendedor

@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deja deletar?</h3>

<div>
    <h4>vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.DataDeNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.DataDeNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.SalarioBase)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.SalarioBase)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Voltar para Vendedores</a>
    </form>
</div>

